# Backups
*swap
*~
*.swp
*.swo

# Byte-compiled / optimized / DLL files
src/data_utils/__pycache__/
src/field_components/__pycache__/
src/globals/__pycache__/
src/list_utils/__pycache__/
src/math_utils/__pycache__/
src/ref_com/__pycache__/
src/testing/__pycache__/
src/visualization/__pycache__/
__pycache__/
*.pyc 
*.pyo 
*.pyd
*$py.clas

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build

# Eclipse
.project
.pydevproject
.settings

# KDevelop
*kdev*

#VSCode
.vscode

#PyCharm
.idea

# ROS
build
devel
.catkin_workspace
./src/CMakeLists.txt

#doxygen
doc/html
