<launch>
  <arg name="team" default="1"/>
  <group ns="robot$(arg team)">
    <group>
      <node name="avoid_obstacle_server" pkg="player" type="avoid_obstacle_server.py" />
      <node name="drive_randomly_server" pkg="player" type="drive_randomly_server.py" />
      <node name="player_smach" pkg="player" type="player_smach.py" />
      <node name="object_detector" pkg="player" type="object_detector.py" />
    </group>
  </group>
</launch>